.like-button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
  

* { 
    box-sizing: border-box;
    margin: 0;
    

}

body {
    font-family: 'Poppins', sans-serif;
 
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.card {
    width: 100%;
    max-width: 840px;
    display: flex;
    padding:24px;

}
.card-content {
    flex-grow: 1;
}

.card-image {
    position:relative;
    width: 300px;
    height: 200px;
    background-image: url("./assets/img-house.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 6px;
    margin-right: 24px;
}

.card-image .like-button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    background-image: url("./assets/icon-favorite.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
    position:absolute;
    top: 12px;
    left:12px;
}

.plus-badge {
    display: inline-block;
    padding: 1px 8px;
    font-size:14px;
    line-height: 1.4285714286;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    width: 48px;
    height: 22px;
    border-radius: 4px;
    background-color: #92174D;
    margin-right:6px;
}

.property-type span{
    font-size:16px;
    line-height: 1.25;
    color: #7D858F;
}

.property-rate {
    font-size:16px;
    line-height: 1.25;
}
.property-rate strong {
    color: #151B26;
    font-weight: 400;
}

.property-rate span{
    color:#7D858F;
}

.property-rate::before {
   content:'';
   position: relative;
   top: 2px;
   display: inline-block;
   width: 16px;
   height: 16px;
   background-image: url(./assets/icon-star.svg);
   background-repeat: no-repeat;
   background-size: contain;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.card-title {
    font-size:20px;
    line-height: 1.5;
    font-weight: 400;
    color:#151B26;
    margin-bottom: 16px;
}

.property-detail {
    color:#7D858F;
    font-size: 14px;
    line-height: 1.1428571429;
}

.property-detail dd span::after{
    content: '·';
    margin: 0 8px;
}

.property-detail dd span:last-child::after{
    content:'';
    margin:0;
}

.property-detail div:first-child {
    margin-bottom: 8px;
}
